EXPO_PUBLIC_API_MODE=mock
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_WS_URL=ws://localhost:3000/realtime
EXPO_PUBLIC_MAP_PROVIDER=platform
EXPO_PUBLIC_MAP_DEFAULT_LATITUDE=-23.55052
EXPO_PUBLIC_MAP_DEFAULT_LONGITUDE=-46.633308
EXPO_PUBLIC_MAP_DEFAULT_LATITUDE_DELTA=0.08
EXPO_PUBLIC_MAP_DEFAULT_LONGITUDE_DELTA=0.08
GOOGLE_MAPS_ANDROID_API_KEY=
GOOGLE_MAPS_IOS_API_KEY=
